body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
}

a{
    text-decoration: none;
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
    padding: 9px 15px;
    font-weight: 600;
    display: inline-block;
}

a:hover{
    color: white;
}

h2 span{
    font-size: 12px;
}

.bgColorBlack{
    background-color: #1f1f1f;
}

.bgColorBlue{
    background-color: #161c3b;
}

.bgColorLightGrey{
    background-color: #bebcbb;
}

.bgColorWhite{
    background-color: white;
}

.bRadius15{
    border-radius: 15px;
}

.bRadius20{
    border-radius: 20px;
}

.opacityDown{
    filter: opacity(75%);
}

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

.posRelative{
    position: relative;
}

.saturateDown{
    filter: saturate(75%)
}

header, main, footer{
    max-width: 1200px;
    margin: 0 auto;
}

/* debug header*/

header section.logo{
    height: 35px;
    width: 100%;
    background-color: black;
}

header nav{
    height: 65px;
    width: 100%;
    background-color: white;
}

/* fine debug header*/

section.hero.returnal figure.backGround>img{
    height: 590px;
}

section.hero figure img{
    max-width: 100%;
    object-fit: cover;
}

section.hero figure .layOver{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 20px;
}

section.consoleUpSell span{
    color: #0072ce;
    font-size: 14px;
    font-weight: 600;
}

section.consoleUpSell p, section.discounts p{
    color: #5e5d5d;
    font-size: 21px;
    font-weight: 500;
}

section.consoleUpSell p.fSize19{
    font-size: 19px;
}

section.consoleUpSell a{
    color: white;
    background-color: #2d64e6;
}

section.consoleUpSell .selected{
    color: black;
    border-bottom: 2px solid #2d64e6;
}

section.consoleUpSell .selected span{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

section.consoleUpSell span.unSelected{
    color: #5e5d5d;
    font-size: 16px;
    font-weight: 500;
}

section.hero.takesTwo figure.backGround>img{
    height: 620px;
}

section.playStationPlus a{
    background-color: #d9dadc;
    color: #3469e6;
}

section.playStationPlus img.psPlusLogo, section.playStationNow img.psNowLogo{
    width: 60%;
}

section.playStationNow{
    color: #f5f5f5;
}

section.playStationNow a{
    background-color: #f5f5f5;
    color: black;
    font-weight: 500;
}

@media screen and (max-width:767px){
    img.w-50{
        transform: scale(2);
    }
}

@media screen and (min-width:576px){
    section.socials img{
        max-width: 120px;
    }
}